<aside id="sidebar" class="open">
  <div id="sidebar-left">
    <a id="sidebar-avatar" href="{{ "/" | prepend: site.baseurl }}">
      <img id="sidebar-avatar-img" alt="{{ site.tittle }}" src="{{ site.avatar | prepend: site.baseurl }}"/>
    </a>

    <div id="sidebar-social">
      <a href="{{ site.rss_url | prepend: site.baseurl }}" class="sidebar-social-icon feed"></a>
      <a href="mailto:{{ site.email }}" class="sidebar-social-icon email"></a>
      {% include social.html %}
    </div>

    <ul id="sidebar-tags">
      <li class="sidebar-tag active" data-filter="recent">最新文章</li>
      {% if site.filter == 'category' %}
        {% for category in site.categories %}
          <li class="sidebar-tag" data-filter="{{ category | first }}">{{ category | first }}</li>
          {% assign subcats = "" %}
          {% for post in category[1] %}
            {% if post.subcategory %}
              {% unless subcats contains post.subcategory %}
                {% if subcats == "" %}
                  {% assign subcats = post.subcategory %}
                {% else %}
                  {% assign subcats = subcats | append: "," | append: post.subcategory %}
                {% endif %}
              {% endunless %}
            {% endif %}
          {% endfor %}
          {% if subcats != "" %}
            {% assign subcat_array = subcats | split: "," %}
            {% for subcat in subcat_array %}
              <li class="sidebar-tag sidebar-subtag" data-filter="{{ category | first }}" data-subfilter="{{ subcat }}">{{ subcat }}</li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% elsif site.filter == 'tag' %}
        {% for tag in site.tags %}
          <li class="sidebar-tag" data-filter="{{ tag | first }}">{{ tag | first }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>

  <div id="sidebar-right">
    <div id="search-box">
      <input id="search-input" type="text" placeholder="Search" />
    </div>

    <nav id="toc">
      {% if site.filter == 'category' %}
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.categories | join: ' ' }}" data-subcategory="{{ post.subcategory }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% elsif site.filter == 'tag' %}
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.tags | join: ' ' }}" data-subcategory="{{ post.subcategory }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% endif %}
    </nav>
  </div>
</aside>
